<div class="card card-wizard" id="wizardCard">
  <div id="wizardForm" method="" action="">
    <div class="card-header text-center">
      <h1 class="card-title">Liberação de acesso</h1>
      <p class="category">Siga os passos para liberação de acesso ao condomínio</p>
    </div>
    <div class="card-content">

      <ul class="nav nav-pills">
        <li [ngClass]="{active: step==1}" class="tab-item-wizard"><a href="javascript:void(0);">Identificação</a></li>
        <li [ngClass]="{active: step==2}" class="tab-item-wizard"><a href="javascript:void(0);">Autorização</a></li>
        <li [ngClass]="{active: step==3}" class="tab-item-wizard"><a href="javascript:void(0);">Confirmação</a></li>
      </ul>

      <div class="">
        <div class="" *ngIf="step == 1">
          <h5 class="text-center">Identifique o visitante / prestador de serviços.</h5>
          <row>
            <col-sm-3>
            </col-sm-3>
            <col-sm-3>
              <button [ngClass]="{'btn-primary btn-fill': isAcessoPrestador()}" class="btn btn-block btn-wd" type="button" (click)="selecionarTipoAcesso(TIPO_ACESSO_PRESTADOR)"><i *ngIf="isAcessoPrestador()" class="fa fa-check"></i> {{TIPO_ACESSO_PRESTADOR}} </button>
            </col-sm-3>
            <col-sm-3>
              <button [ngClass]="{'btn-primary btn-fill': isAcessoVisitante()}" class="btn btn-block btn-wd " type="button" (click)="selecionarTipoAcesso(TIPO_ACESSO_VISITANTE)"><i *ngIf="isAcessoVisitante()" class="fa fa-check"></i> {{TIPO_ACESSO_VISITANTE}} </button>
            </col-sm-3>
            <col-sm-3>
            </col-sm-3>
          </row>

          <hr/>

          <row *ngIf="liberacao?.pessoa">
            <col-sm-1></col-sm-1>
            <col-sm-10>
              <panel title="Dados gerais de {{ liberacao.pessoa.nome | uppercase }}">
                <row>
                  <col-sm-3>
                    <div class="container-img-button">
                      <img id="imgFoto" style="width: 100%;" [src]="getFoto()" class="img-thumbnail image" />
                    </div>
                  </col-sm-3>

                  <col-sm-9>
                    <row>
                      <input-group width="8" label="Nome da pessoa" [(ngModel)]="liberacao.pessoa.nome" id="nome" [disabled]="true"></input-group>
                      <input-group width="4" label="Tipo" [(ngModel)]="liberacao.pessoa.tipoPessoa.nome" id="tipoPessoa" [disabled]="true"></input-group>
                    </row>

                    <row>
                      <input-group width="8" label="RG" [(ngModel)]="liberacao.pessoa.rg" id="rg" [disabled]="true"></input-group>
                      <input-group width="4" label="Órgão do RG" [(ngModel)]="liberacao.pessoa.orgaoRg" id="orgaoRg" [disabled]="true"></input-group>
                    </row>

                    <row>
                      <input-group width="6" label="CPF" [(ngModel)]="liberacao.pessoa.cpf" id="cpf" [disabled]="true" type="cpf"></input-group>
                      <input-group width="6" label="Carteira de Motorista" [(ngModel)]="liberacao.pessoa.cnh" id="cnh" [disabled]="true"></input-group>
                    </row>
                  </col-sm-9>
                </row>

                <row>
                  <col-sm-6></col-sm-6>
                  <col-sm-3>
                    <button class="btn btn-wd btn-primary btn-fill btn-block btn-magnify" type="button" [style.marginTop.px]="37" (click)="selecionarOutro()"><span class="btn-label"><i class="fa fa-edit"></i></span> Não, não é esta pessoa</button>
                  </col-sm-3>
                  <col-sm-3>
                    <button class="btn btn-wd btn-primary btn-fill btn-block btn-magnify" type="button" [style.marginTop.px]="37" (click)="confirmarPessoa()"><span class="btn-label"><i class="fa fa-edit"></i></span> Não, não é esta pessoa</button>
                  </col-sm-3>
                  <col-sm-3>
                    <button class="btn btn-wd btn-primary btn-fill btn-block btn-magnify" type="button" [style.marginTop.px]="37" (click)="abrirCadastro()"><span class="btn-label"><i class="fa fa-edit"></i></span> Ver cadastro completo</button>
                  </col-sm-3>
                </row>
              </panel>
            </col-sm-10>

          </row>

          <row *ngIf="liberacao?.tipoAcesso">
            <!-- Lista de pessoas -->
            <hr />
          </row>
        </div>

        <div class="" *ngIf="step == 2">
          <!-- Lista de moradores -->
          <hr />
          <panel title="Buscar Morador">
            <app-morador-consulta acessoLiberacao="true"></app-morador-consulta>
          </panel>
        </div>
        <div class="" *ngIf="step == 3">

        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="clearfix"></div>
      <button class="btn btn-primary btn-block btn-fill btn-wd btn-magnify" type="button" (click)="teste()"><i class="fa fa-save"></i> Liberar </button>
    </div>
  </div>
</div>

<div id="modalPessoaConsulta" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Buscar pessoas</h4>
        <span>Caso não encontre o cadastro da pessoa, clique em NOVO para cadastrar</span>
      </div>
      <div class="modal-body">
        <app-pessoa-consulta acessoLiberacao="true" (onSelectPessoa)="onSelectPessoa($event)" (onNovaPessoa)="onNovaPessoa()"></app-pessoa-consulta>
      </div>
    </div>
  </div>
</div>

<div id="modalPessoaCadastro" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Detalhes do cadastro</h4>
        <span>Caso não encontre o cadastro da pessoa, clique em NOVO para cadastrar</span>
      </div>
      <div class="modal-body" *ngIf="liberacao.pessoa">

        <!--  -->

        <panel title="Dados gerais de {{ liberacao.pessoa.nome | uppercase }}" subTitle="Informações gerais do cadastro">

          <row>
            <col-sm-3>
              <div class="container-img-button">
                <img id="imgFoto" style="width: 100%;" [src]="getFoto()" class="img-thumbnail image" />
                <div class="middle-img-button">
                  <button class="btn btn-info btn-block" (click)="tirarFoto()"><i class="icofont icofont-camera"></i> Tirar foto</button>
                  <button class="btn btn-danger btn-block" (click)="limparFoto()"><i class="icofont icofont-trash"></i> Limpar foto</button>
                </div>
              </div>
            </col-sm-3>

            <col-sm-9>
              <row>
                <input-group width="8" label="Nome da pessoa" help="Informe o nome da pessoa" [(ngModel)]="liberacao.pessoa.nome" id="nome" [disabled]="true"></input-group>
                <select-group width="4" label="Tipo" help="Informe o tipo de pessoa" [options]="itensTipoPessoa" [(ngModel)]="liberacao.pessoa.tipoPessoa.id" id="tipoPessoa" [disabled]="true"></select-group>
              </row>

              <row>
                <input-group width="8" label="RG" help="Informe o RG da pessoa" [(ngModel)]="liberacao.pessoa.rg" id="rg" [disabled]="true"></input-group>
                <input-group width="4" label="Órgão do RG" help="Informe o órgão do RG da pessoa" [(ngModel)]="liberacao.pessoa.orgaoRg" id="orgaoRg" [disabled]="true"></input-group>
              </row>

              <row>
                <input-group width="6" label="CPF" help="Informe o CPF da pessoa" [(ngModel)]="liberacao.pessoa.cpf" id="cpf" [disabled]="true" type="cpf"></input-group>
                <input-group width="6" label="Carteira de Motorista" help="Informe a carteira de motorista da pessoa" [(ngModel)]="liberacao.pessoa.cnh" id="cnh" [disabled]="true"></input-group>
              </row>

              <row>
                <input-group width="6" label="Fone fixo 1" help="Informe o telefone fixo da pessoa" [(ngModel)]="liberacao.pessoa.fone1" id="fone1" [disabled]="true" type="phone"></input-group>
                <input-group width="6" label="Fone fixo 2" help="Informe outro telefone fixo da pessoa" [(ngModel)]="liberacao.pessoa.fone2" id="fone2" [disabled]="true" type="phone"></input-group>
              </row>

              <row>
                <input-group width="6" label="Celular 1" help="Informe o número de celular da pessoa" [(ngModel)]="liberacao.pessoa.celular1" id="celular1" [disabled]="true" type="mobile-phone"></input-group>
                <input-group width="6" label="Celular 2" help="Informe outro número de celular da pessoa" [(ngModel)]="liberacao.pessoa.celular2" id="celular2" [disabled]="true" type="mobile-phone"></input-group>
              </row>
            </col-sm-9>
          </row>


        </panel>

        <panel title="Endereço" subTitle="Informações sobre o endereço">
          <row>
            <input-group width="3" label="CEP" help="Informe o cep da pessoa" [(ngModel)]="liberacao.pessoa.cep" id="cep" [disabled]="true" type="cep"></input-group>
            <input-group width="9" label="Endereço" help="Informe o endereço da pessoa" [(ngModel)]="liberacao.pessoa.endereco" id="endereco" [disabled]="true"></input-group>
          </row>

          <row>
            <input-group width="4" label="Bairro" help="Informe o bairro da pessoa" [(ngModel)]="liberacao.pessoa.bairro" id="bairro" [disabled]="true"></input-group>
            <input-group width="5" label="Cidade" help="Informe a cidade do endereço da pessoa" [(ngModel)]="liberacao.pessoa.cidade" id="cidade" [disabled]="true"></input-group>
            <select-group width="3" label="UF" help="Informe o estado do endereço da pessoa" [(ngModel)]="liberacao.pessoa.uf" id="uf" [disabled]="true" [options]="itensEstados"></select-group>
          </row>

          <row>
            <input-group width="12" label="Complemento" help="Informe o complemento do endereço da pessoa" [(ngModel)]="liberacao.pessoa.complemento" id="complemento" [disabled]="true"></input-group>
          </row>
        </panel>

        <row>
          <col-sm-6></col-sm-6>

          <col-sm-3>
            <botao-salvar (click)="salvar()"></botao-salvar>
          </col-sm-3>

          <col-sm-3 *ngIf="isExcluir()">
            <botao-excluir (click)="excluir()"></botao-excluir>
          </col-sm-3>

          <col-sm-3>
            <botao-voltar (click)="voltar()"></botao-voltar>
          </col-sm-3>
        </row>



      </div>
    </div>
  </div>
</div>
