<panel title="Dados gerais" subTitle="Informações gerais do cadastro">
  <row>
    <col-sm-3>
      <div class="container-img-button">
        <img id="imgFoto" style="width: 100%;" [src]="getFoto()" class="img-thumbnail image" />
        <div class="middle-img-button">
          <button class="btn btn-info btn-block" (click)="tirarFoto()"><i class="icofont icofont-camera"></i> Tirar foto</button>
          <button class="btn btn-danger btn-block" (click)="limparFoto()"><i class="icofont icofont-trash"></i> Limpar foto</button>
        </div>
      </div>
    </col-sm-3>

    <col-sm-9>
      <row>
        <input-group width="8" label="Nome do morador" help="Informe o nome do morador" [(ngModel)]="vo.pessoa.nome" id="nome" [disabled]="isExcluir()"></input-group>
        <select-group width="4" label="Tipo" help="Informe o tipo de pessoa" [options]="itensTipoPessoa" [(ngModel)]="vo.pessoa.tipoPessoa.id" id="tipoPessoa" [disabled]="isExcluir()"></select-group>
      </row>

      <row>
        <input-group width="8" label="RG" help="Informe o RG do morador" [(ngModel)]="vo.pessoa.rg" id="rg" [disabled]="isExcluir()"></input-group>
        <input-group width="4" label="Órgão do RG" help="Informe o órgão do RG do morador" [(ngModel)]="vo.pessoa.orgaoRg" id="orgaoRg" [disabled]="isExcluir()"></input-group>
      </row>

      <row>
        <input-group width="6" label="CPF" help="Informe o CPF do morador" [(ngModel)]="vo.pessoa.cpf" id="cpf" [disabled]="isExcluir()" type="cpf"></input-group>
        <input-group width="6" label="Carteira de Motorista" help="Informe a carteira de motorista do morador" [(ngModel)]="vo.pessoa.cnh" id="cnh" [disabled]="isExcluir()"></input-group>
      </row>

      <row>
        <input-group width="6" label="Fone fixo 1" help="Informe o telefone fixo do morador" [(ngModel)]="vo.pessoa.fone1" id="fone1" [disabled]="isExcluir()" type="phone"></input-group>
        <input-group width="6" label="Fone fixo 2" help="Informe outro telefone fixo do morador" [(ngModel)]="vo.pessoa.fone2" id="fone2" [disabled]="isExcluir()" type="phone"></input-group>
      </row>

      <row>
        <input-group width="4" label="Celular 1" help="Informe o número de celular do morador" [(ngModel)]="vo.pessoa.celular1" id="celular1" [disabled]="isExcluir()" type="mobile-phone"></input-group>
        <input-group width="4" label="Celular 2" help="Informe outro número de celular do morador" [(ngModel)]="vo.pessoa.celular2" id="celular2" [disabled]="isExcluir()" type="mobile-phone"></input-group>

        <select-group width="4" label="Unidade" help="Informe a unidade do morador" [options]="itensUnidades" [(ngModel)]="vo.unidade.id" id="unidade" [disabled]="isExcluir()"></select-group>
      </row>
    </col-sm-9>
  </row>
</panel>

<panel title="Endereço" subTitle="Informações sobre o endereço">
  <row>
    <input-group width="3" label="CEP" help="Informe o cep do morador" [(ngModel)]="vo.pessoa.cep" id="cep" [disabled]="isExcluir()" type="cep"></input-group>
    <input-group width="9" label="Endereço" help="Informe o endereço do morador" [(ngModel)]="vo.pessoa.endereco" id="endereco" [disabled]="isExcluir()"></input-group>
  </row>

  <row>
    <input-group width="4" label="Bairro" help="Informe o bairro do morador" [(ngModel)]="vo.pessoa.bairro" id="bairro" [disabled]="isExcluir()"></input-group>
    <input-group width="5" label="Cidade" help="Informe a cidade do endereço do morador" [(ngModel)]="vo.pessoa.cidade" id="cidade" [disabled]="isExcluir()"></input-group>
    <select-group width="3" label="UF" help="Informe o estado do endereço do morador" [(ngModel)]="vo.pessoa.uf" id="uf" [disabled]="isExcluir()" [options]="itensEstados"></select-group>
  </row>

  <row>
    <input-group width="12" label="Complemento" help="Informe o complemento do endereço do morador" [(ngModel)]="vo.pessoa.complemento" id="complemento" [disabled]="isExcluir()"></input-group>
  </row>
</panel>

<row>
  <col-sm-6></col-sm-6>

  <col-sm-3 *ngIf="!isExcluir()">
    <botao-salvar (click)="salvar()"></botao-salvar>
  </col-sm-3>

  <col-sm-3 *ngIf="isExcluir()">
    <botao-excluir (click)="excluir()"></botao-excluir>
  </col-sm-3>

  <col-sm-3>
    <botao-voltar (click)="voltar()"></botao-voltar>
  </col-sm-3>
</row>
