<panel>
  <row>
    <input-group width="6" label="Nome do usuário" help="Informe o nome do usuário" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>

    <select-group width="6" label="Status" help="Informe o status" [(ngModel)]="vo.ativo" [options]="itensStatus" id="ativo" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <input-group width="6" label="Login" help="Informe o login do usuário" [(ngModel)]="vo.login" id="login" [disabled]="isExcluir()"></input-group>

    <select-group width="6" label="Perfil" help="Informe o perfil" [(ngModel)]="vo.perfil.id" [options]="itensPerfil" id="perfil" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <input-group width="6" type="password" label="Senha" help="Informe a senha do usuário" [(ngModel)]="vo.senha" id="senha" [disabled]="isExcluir()"></input-group>

    <input-group width="6" type="password" label="Confirmação da Senha" help="Confirme a senha do usuário" [(ngModel)]="vo.confirmacaoSenha" id="confirmacaoSenha" [disabled]="isExcluir()"></input-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
