<panel>
  <row>
    <input-group width="6" label="Nome do tipo de pessoa" help="Informe o nome do tipo de pessoa" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>

    <select-group width="6" label="Status" help="Informe o status" [(ngModel)]="vo.ativo" [options]="itensStatus" id="ativo" [disabled]="isExcluir()"></select-group>

    <select-group width="6" label="Morador" help="Indica se o tipo de pessoa é morador" [(ngModel)]="vo.morador" [options]="itensSimNao" id="ativo" [disabled]="isExcluir()"></select-group>

  </row>

  <row>
    <col-sm-8></col-sm-8>

    <col-sm-2 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-2>

    <col-sm-2 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-2>

    <col-sm-2>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-2>
  </row>
</panel>
