
<panel>
  <row>
    <input-group width="5" label="Pesquisa de morador" help="Pesquise por qualquer campo do morador" [(ngModel)]="filtro.filtroGeral" (ngModelChange)="pesquisar()" id="filtroGeral"></input-group>

    <select-group width="3" label="Unidade" help="Pesquisar pela unidade" [options]="itensUnidades" [(ngModel)]="filtro.idUnidade" (ngModelChange)="pesquisar()" id="unidade"></select-group>

    <col-sm-2>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-2>

    <col-sm-2>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-2>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="8" field="pessoa.nome" header="Nome"></column>
        <column width="8" field="unidade.numero" header="Unidade"></column>
        <column width="2" field="pessoa.cpf" header="CPF"></column>

        <buttons-right *ngIf="!acessoLiberacao">
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>
    </col-sm-12>
  </row>
</panel>
