<form-pesquisa>
    <filtros>
        <input-consulta class="form-group col-sm-6" label="Pesquisar por qualquer campo (Nome, email, CPF, RG ou telefone)" placeholder="Digite um valor para pesquisar pela pessoa" filter-model="filter.filtroGeral" filter-change="atualizar()"></input-consulta>
        <select-consulta class="form-group col-sm-4 margem-componente" label="Tipo de Morador" filter-model="filter.pessoa$tipoPessoa$id" filter-change="atualizar()" values="tiposPessoa" todos />
        <div class="form-group col-sm-2 margem-componente margem-botao">
            <botao-limpar ng-click="limpar()" full/>
        </div>
    </filtros>
    <tabela>
        <table ng-table="tableParams" class="table table-hover table-striped table-advance col-md-12">
            <tr ng-repeat="morador in $data track by morador.id">
                <!-- Colunas -->
                <td sortable="'pessoa.nome'" data-title="'Nome'" class="col-sm-4">{{morador.pessoa.nome}}</td>
                <td sortable="'unidade.numero'" data-title="'Unidade'" class="col-sm-1">{{morador.unidade.numero}}</td>
                <td sortable="'RG'" data-title="'RG'" class="col-sm-2">{{morador.pessoa.rg}} {{morador.pessoa.orgaoRg}}</td>
                <td sortable="'CPF'" data-title="'CPF'" class="col-sm-1">{{morador.pessoa.cpf}}</td>
                <td sortable="'pessoa.tipoPessoa'" data-title="'Tipo'" class="col-sm-2">{{morador.pessoa.tipoPessoa.nome}}</td>
                <!-- Botoes -->
                <td class="text-right form-group col-sm-2">
                    <botao-alterar mini ng-click="alterar(morador.id)" />
                    <botao-excluir mini ng-click="excluir(morador.id)" />
                </td>
            </tr>
        </table>
    </tabela>
    <botoes>
        <botao-novo ng-click="novo()" />
    </botoes>
</form-pesquisa>
