<form-pesquisa>

    <filtros>
        <input-consulta class="form-group col-sm-6" label="Nome da torre" placeholder="Digite um valor para pesquisar pelo nome da torre" filter-model="filter.nome" filter-change="atualizar()"></input-consulta>

        <select-consulta class="form-group col-sm-4 margem-componente" label="Status" filter-model="filter.ativo" filter-change="atualizar()" values="ativos" simple todos />

        <div class="form-group col-sm-2 margem-componente margem-botao">
            <botao-limpar ng-click="limpar()" full/>
        </div>
    </filtros>

    <tabela>
        <table ng-table="tableParams" class="table table-hover table-striped table-advance col-md-12">
            <tr ng-repeat="vo in $data track by vo.id">
                <!-- Colunas -->
                <td sortable="'nome'" data-title="'Nome'" class="col-sm-4">{{vo.nome}}</td>
                <td sortable="'ativo'" data-title="'Status'" class="col-sm-1">{{vo.ativo}}</td>
                <td sortable="'andares'" data-title="'Andares'" class="col-sm-1">{{vo.andares}}</td>
                <td sortable="'unidadesPorAndar'" data-title="'Un./Andar'" class="col-sm-1">{{vo.unidadesPorAndar}}</td>
                <td sortable="'terreo'" data-title="'Térreo?'" class="col-sm-1">{{vo.terreo}}</td>

                <!-- Botoes -->
                <td class="text-right form-group col-sm-2">
                    <botao-alterar mini ng-click="alterar(vo.id)"/>
                    <botao-excluir mini ng-click="excluir(vo.id)"/>
                </td>
            </tr>
        </table>
    </tabela>

    <botoes>
        <botao-novo ng-click="novo()"/>
    </botoes>

</form-pesquisa>

