<panel>
  <row>
    <select-group width="6" label="Morador" help="Informe o morador proprietário" [(ngModel)]="vo.morador.id" [options]="itensMorador" id="morador" [disabled]="isExcluir()" urlSearch="/seguranca-resources/api/morador/buscarPorNome"></select-group>
    <input-group width="6" label="Placa" help="Placa do carro" [(ngModel)]="vo.placa" id="placa" [disabled]="isExcluir()"></input-group>
  </row>

  <row>
    <input-group width="6" label="Marca" help="Marca do carro" [(ngModel)]="vo.marca" id="marca" [disabled]="isExcluir()"></input-group>
    <input-group width="6" label="Modelo" help="Modelo do carro" [(ngModel)]="vo.modelo" id="modelo" [disabled]="isExcluir()"></input-group>
  </row>

  <row>
    <input-group width="6" label="Cor" help="Cor do carro" [(ngModel)]="vo.cor" id="cor" [disabled]="isExcluir()"></input-group>
    <input-group width="4" label="Ano" help="Ano do carro" [(ngModel)]="vo.ano" id="ano" [disabled]="isExcluir()"></input-group>
    <select-group width="2" label="Status" help="Informe o status" [(ngModel)]="vo.ativo" [options]="itensStatus" id="ativo" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
