<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.geral.HOME">Início</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div> 

<!-- <div ng-spinner-bar class="page-spinner-bar">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="clearfix"> </div>
<div class="page-container" style="margin-top: 0px;" >
<div data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head"> </div>
            <div id="app" ui-view class="fade-in-up">
            	<div class="breadcrumb-wrapper">
				    <h4 class="mainTitle no-margin" translate="sidebar.nav.geral.HOME">Início</h4>

				    <div ncy-breadcrumb class="pull-right"></div>
				</div>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
</div>

<div data-ng-include="'tpl/footer.html'" data-ng-controller="FooterController" class="page-footer"></div>
xxxx -->